# Dependencias
/node_modules

# Compilación de TypeScript
/dist

# Variables de entorno
.env

# Logs de ejecución
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/