# Dependencias
node_modules/

# Archivos de compilación
dist/
build/
*.tsbuildinfo

# Variables de entorno
.env
.env.local

# Archivos generados por el sistema operativo o editores
.DS_Store
Thumbs.db
.vscode/
.idea/